version: 2.1
orbs:
  python: circleci/python@2.1.1
jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.8.5
    parallelism: 3
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: list all tests after split
          command: | 
            pytest --collect-only -q
      - run:
          name: list all tests after split
          command: | 
           pytest --collect-only -q | grep -e "\.py" | circleci tests run --command="xargs echo" --split-by=name
      - run:
          name: Run tests unit tests with fail fast
          command: | 
            pytest --collect-only -q | grep -e "\.py" | circleci tests run --command="xargs pytest -v" --split-by=name --batch-count=2 --fail-fast
      - store_test_results:
          path: test-results
          
workflows:
  sample:
    jobs:
      - build-and-test

# VS Code Extension Version: 1.4.0